.logo img {
  width: 90%;
  height: auto;
}
nav {
  padding: 10px;
  background-color: rgb(231, 231, 231);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
nav ul {
  /*   position: fixed; */ /* változtatás */
  width: 200px;
}
nav ul li {
  margin: 20px;
  font-style: italic;
  font-weight: bolder;
  font-size: 40px;
  color: #464646;
  font-family: "Cormorant SC", serif;
}
nav ul li a {
  padding: 20px;
  font-size: 17px;
}
.autokMenu ul,
.autokMenu ul li a {
  width: 250px;
  padding-left: 20px;
}

nav a:hover {
  text-decoration: 2px underline #17446b;
}

.autokMenu {
  display: none;
  color: black;
}
.autokMenu a {
  font-size: 15px;
}

.autokMenu li {
  font-style: italic;
  color: #464646;
  font-family: "Cormorant SC", serif;
}

nav ul li:hover .autokMenu {
  display: block;
}

.autokMenu li:hover {
  text-decoration: 2px underline #17446b;
}

.felhasznaloMenu ul,
.felhasznaloMenu ul li a {
  width: 250px;
  padding-left: 20px;
}

nav a:hover {
  text-decoration: 2px underline #17446b;
}

.felhasznaloMenu {
  display: none;
  color: black;
}
.felhasznaloMenu a {
  font-size: 15px;
}

.felhasznaloMenu li {
  font-style: italic;
  color: #464646;
  font-family: "Cormorant SC", serif;
}

nav ul li:hover .felhasznaloMenu {
  display: block;
}

.felhasznaloMenu li:hover {
  text-decoration: 2px underline #17446b;
}

.reszponzivLogo,
.reszponzivCim {
  display: none;
}

/* RESZPONZIVITÁS */

@media only screen and (max-width: 940px) {
  .header,
  .logo/* ,
  .autokMenu ul */ {
    display: none;
  }

  .headerSzoveg {
    margin: 15px;
    font-size: 19px;
  }

  .reszponzivCim {
    color: #17446b;
    font-family: "Teko", sans-serif;
    -webkit-text-stroke: 1px #17446b;
    text-shadow: 0px 4px 4px #8a8484;
  }

  .kereses form {
    padding: 40px;
  }

  nav {
    background-color: white;
    height: 80px;
    width: 100%;
  }

  .reszponzivLogo {
    display: contents;
    color: rgb(65, 111, 189);
    font-size: 35px;
    font-weight: bold;
  }

  .autokMenu ul,
  .fa {
    display: none;
  }

  /*  .autokMenu ul {
    display: flex;
    flex-direction: column;
  } */

  nav ul {
    display: flex;
    float: right;
    margin-right: 350px;
  }

  nav ul li {
    /*     display: flex; */
    margin: 0 5px;
  }

  /*   @media only screen and (max-width: 790px) {
    nav {
      background-color: white;
      height: 80px;
      width: 100%;
    }
  } */

  @media only screen and (max-width: 800px) {
    nav ul li {
      display: none;
    }

    .hamburgerMenu {
      width: 35px;
      height: 30px;
      position: fixed;
      top: 27px;
      right: 15px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .line {
      width: 100%;
      height: 3px;
      background: black;
      transition: all 0.8;
    }
  }

  /*.hamburgerMenu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .line {
    width: 100%;
    height: 3px;
    background: black;
    transition: all 0.8;
  }

  .navbar {
    width: 300px;
    height: 100%;
    background-color: rgb(247, 242, 242);
    position: fixed;
    top: 0;
    right: -300px;

    /*   border-radius: 20% 0 0 60%; */
  /*transition: right 0.8s;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .gombValtozas {
    right: 0;
  }

  .navLista {
    text-align: left;
    top: 100px;
  }

  .navElem,
  .navElem2 {
    margin: 5px;
  }

  .navElem2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 15px;
    margin-left: 45%;
  }

  .jarmuvekReszponziv,
  .reszponzivBejelentkezes,
  .reszponzivCim {
    display: contents;
  }

  .navElem a {
    font-size: 18px;
    letter-spacing: 1px;
  }

  .navElem2 a {
    color: rgb(33, 33, 33);
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .gombValtozas .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
  }

  .gombValtozas .line-2 {
    opacity: 0;
  }

  .gombValtozas .line-3 {
    transform: rotateZ(45deg) translate(-8px, -6px);
  }

  nav ul li a {
    padding: 0;
  }*/
}
