.logo img {
  width: 90%;
  height: auto;
}
nav {
  padding: 10px;
  background-color: rgb(231, 231, 231);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
nav ul {
  position: fixed;
  width: 200px;
}
nav ul li {
  margin: 20px;
  font-style: italic;
  font-weight: bolder;
  font-size: 40px;
  color: #464646;
  font-family:'Cormorant SC', serif;
}
nav ul li a {
  padding: 20px;
  font-size: 17px;
}
.autokMenu ul,
.autokMenu ul li a {
  width:250px;
  padding-left: 20px;
}

nav a:hover {
  text-decoration: 2px underline #17446b;;
}

.autokMenu {
  display: none;
  color: black;
}
.autokMenu a {
  font-size: 15px;
}

.autokMenu li {
  font-style: italic;
  color: #464646;
  font-family:'Cormorant SC', serif;
}

nav ul li:hover .autokMenu {
  display: block;
}

.autokMenu li:hover {
  text-decoration: 2px underline #17446b;
}

.felhasznaloMenu ul,
.felhasznaloMenu ul li a {
  width: 250px;
  padding-left: 50px;
}

nav a:hover {
  text-decoration: 2px underline #17446b;
}

.felhasznaloMenu {
  display: none;
  color: black;
}
.felhasznaloMenu a {
  font-size: 15px;
}

.felhasznaloMenu li {
  font-style: italic;
  color: #464646;
  font-family:'Cormorant SC', serif;
}

nav ul li:hover .felhasznaloMenu {
  display: block;
}

.felhasznaloMenu li:hover {
  text-decoration: 2px underline #17446b;
}