@charset "utf-8";

.form {
  padding: 0;
  margin: auto;
  width: 70%;
}

.cim {
  font-size: 25px;
}

.form form {
  margin-left: 8%;
}

.inputfield {
  flex: 1 1 7rem;
}

.inputfield input,
select {
  padding: 5px;
  font-size: 13px;
  border: 1px solid grey;
}

label {
  font-size: 19px;
}

.firstNameInput,
.lastNameInput,
.felhNevInput,
.emailInput,
.jelszo1Input,
.jelszo2Input,
.datumInput,
.telInput,
.megyeInput,
.iranyitoszamInput,
.utcaInput,
.hazszamInput {
  width: 30%;
}

.varosInput {
  width: 60.6%;
}
