@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

/*main {
  background-color: silver;
  background-size: cover;
}*/

/*body {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}*/

/*.flex-container {
  display: flex;
}*/

/* NAVIGÁCIÓ */

.logo img {
  width: 50%;
  height: auto;
}

nav {
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}
nav ul{
  position: fixed;
}
nav ul li {
  margin: 20px; 
  font-style: italic;
  color: #464646;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul li a{
  padding: 20px;
  font-size: 17px;
}

nav a:hover {
  text-decoration: 2px underline rgba(14, 14, 226, 0.788);
}

.autokMenu {
  display: none;
  top: 50%;
  left: 22%; /*nehezen lehet rákattintani a lenyíló menükre*/
  color: black;
}

.fa {
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  color: #464646;
}

/*.fa:hover {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
*/
.autokMenu a {
  font-size: 15px;
}

.autokMenu li {
  font-style: italic;
  color: #464646;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li:hover .autokMenu {
  display: block;
}

.autokMenu li:hover {
  text-decoration: 2px underline rgba(14, 14, 226, 0.788);
}

/* GOMBOK */

button i {
  margin-right: 5px;
}

.gombok {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.bejelentkezes {
  padding: 8px;
  background-color: white;
  border-radius: 10px;
  color: rgb(15, 15, 172);
  margin-right: 15px;
}

.regisztracio {
  padding: 8px;
  width: 105px;
  background-color: white;
  border-radius: 10px;
  color: rgb(15, 15, 172);
}

/* KERESŐMEZŐ */
.kereses form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  /*   position: absolute;*/
  /*padding: 20px;*/
}

.input-box {
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}

#idoEl {
  width: 90px;
}

#idoVissza {
  width: 90px;
}

.input-box input,
select {
  padding: 7px;
  font-size: 15px;
  border: none;
  background-color: white;
  border-radius: 0.5rem;
}

.kereses form .btn {
  /*flex: 0 1 7rem;*/
  padding: 10px 34px;
  border: none;
  /* border-radius: 0.5rem; */
  font-size: 15px;
  background: rgba(15, 15, 172, 0.699);
  color: white;
}

.kereses form .btn:hover {
  background: #cccccc;
}

#hirekResz{
  width: fit-content;
}

#upper_wrapp{
  grid-area: header;
}
#hirekResz{
  grid-area: maincontent;
}
nav{
  grid-area: sidenav;
}
footer{
  grid-area: footer;
}

main{
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-areas: 
    "sidenav header"
    "sidenav maincontent"
    "sidenav maincontent"
    "sidenav maincontent"
    "sidenav maincontent"
    "footer footer";
}

main{
  background-color: silver;
  background-size: cover;
  max-width: 1920px;
  margin: auto;
}
.hirek{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

/*PLACEHOLDER'S <- Azok a nagy kék genyók és a fekete keretek.*/
.placeholder_item{
  width: 300px;
  height: 400px;
  background-color: aqua;
  margin: 30px;
}
.hirekResz{
  margin: 20px;
  border: 1px solid black;
}
#upper_wrapp{
  margin: 20px;
  border: 1px solid black;
}