@charset "utf-8";
/*GLOBAL STYLE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

/*GRIT STYLE*/

main {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-areas:
    "sidenav header"
    "sidenav kereses"
    "sidenav primarycontent"
    "sidenav primarycontent"
    "sidenav primarycontent"
    "sidenav primarycontent"
    "sidenav footer";
  background-color: #e0e4e7;
  background-size: cover;
  max-width: 1920px;
  margin: auto;
}
.header {
  grid-area: header;
}
#primary_content {
  grid-area: primarycontent;
}
nav {
  grid-area: sidenav;
}
footer {
  grid-area: footer;
}
.kereses{
  grid-area: kereses;
}

/*GRID ITEM STYLE*/

.header {
  margin: 5px;
}

/* Járműveink menüpont */

.placeholder_item2 {
  background: rgb(241, 239, 239);
  /*   height: 100%; */
  text-align: center;
  border: 1px solid #ddd;
  padding: 1.5rem;
  margin: 0.5%;
}

.placeholder_item2 .tartalom h3,
p {
  padding: 2%;
}

.adatok {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1.5rem;
}

.adatok div {
  flex: 0 0 50%;
  max-width: 50%;
  border: 1px solid rgba(221, 221, 221, 0.466);
  border-radius: 20px;
}

.adatok div span {
  color: #151314;
  display: block;
  font-family: "Montserrat", sans-serif;
  /*   font-weight: 500; */
  /* letter-spacing: 0; */
  line-height: 1.5;
  margin: 0.5rem 0 0.5rem 0;
}

.autoListaGombok {
  bottom: 1rem;
  display: flex;
  justify-content: center;
  left: 0;
  list-style: none;
  padding-left: 0;
  /*   position: absolute; */
  width: 100%;
}

.autoListaGombok .lefoglalas,
.reszletek {
  align-items: center;
  background-color: #b9c4d157;
  color: #231f20 !important;
  font-size: 1rem;
  font-weight: 700;
  height: 2.5em;
  padding: 0 0.8em;
}

.autokRendezes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.kategoriaLabel,
.karosszeriaLabel,
.valtoLabel {
  font-size: 15pt;
  padding: 10px;
}

.szuresGomb {
  align-items: center;
  background-color: #b9c4d120;
  height: 2.5em;
  padding: 0 2em;
}

#autoKategoria,
#autoKarosszeria,
#autoValto {
  font-size: 12pt;
}
